<header>
  <nav>
    <div>
      <a [routerLink]="'/'">
        <img src="./assets/images/logo.svg" alt="Shortly" />
      </a>
      <ul class="link-list">
        <li *ngFor="let link of links">
          <a [routerLink]="link.path">
            {{ link.label }}
          </a>
        </li>
      </ul>
    </div>
    <ul>
      <li>
        <a href="">Login</a>
      </li>
      <li class="sign-up">
        <app-text-button [type]="'large'" [fontSize]="15">
          Sign Up
        </app-text-button>
      </li>
    </ul>
    <app-sidemenu [links]="links"></app-sidemenu>
  </nav>
</header>
