header {
  background-color: hsl(0, 0%, 100%);
  nav {
    display: flex;
    justify-content: space-between;
    padding: 2.1rem 1.5rem;

    button {
      background: none;
      border: none;

      display: flex;
      flex-direction: column;
      gap: 6px;

      div {
        width: 1.5rem;
        height: 3px;
        background-color: hsl(0, 1%, 64%);
      }
    }
  }
}
