<main>
  <section>
    <article>
      <img
        src="../../../assets/images/illustration-working.svg"
        alt="illustration-working"
      />
      <div>
        <h2>More than just shorter links</h2>
        <p>
          Build your brand's recognition and get detailed insights on how your
          links are performing.
        </p>
        <app-text-button [type]="'fat'">Get Started</app-text-button>
      </div>
    </article>
    <section>
      <article>
        <app-short-box></app-short-box>
      </article>

      <article>
        <h3>Advanced Statistics</h3>
        <p>
          Track how your links are performing across the web with our advanced
          statistics dashboard.
        </p>

        <app-icon-card-list
          [cardListData]="contentArticles"
        ></app-icon-card-list>
      </article>
      <article class="add-article">
        <h3>Boost your links today</h3>
        <app-text-button> Get Started </app-text-button>
      </article>
    </section>
  </section>
</main>
