<main>
  <section>
    <article>
      <img
        src="../../../assets/images/illustration-working.svg"
        alt="illustration-working"
      />
      <div>
        <h2>More than just shorter links</h2>
        <p>
          Build your brand's recognition and get detailed insights on how your
          links are performing.
        </p>
        <app-text-button [type]="'fat'">Get Started</app-text-button>
      </div>
    </article>
    <section>
      <article>
        <app-short-box></app-short-box>
      </article>
    </section>
  </section>
</main>
