section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.6rem;
  position: relative;
  margin-top: 2.7rem;
  @media only screen and (min-width: 576px) {
    flex-direction: row;
    gap: 2rem;
  }

  div {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    hr {
      height: 95%;
      width: 8px;
      border: none;
      background-color: hsl(180, 66%, 49%);
      @media only screen and (min-width: 576px) {
        width: 95%;
        height: 8px;
      }
    }
  }

  app-icon-card {
    z-index: 2;
  }
}
