button {
  padding: 0.7rem 3rem;
  font-size: 17px;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: hsl(180, 66%, 49%);
  transition: background ease-in 0.2s;
  &:hover {
    opacity: 0.5;
  }

  @media only screen and (min-width: 576px) {
    border-radius: 9px;
    font-size: 20px;
  }
}

button.fill {
  position: absolute;
  width: 100%;
  padding: 0.7rem 1rem;
  @media only screen and (min-width: 576px) {
    height: 100%;
  }
}

button.clicked {
  background-color: hsl(257, 27%, 26%);
}
