button {
  padding: 0.7rem 3rem;
  font-size: 17px;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: hsl(180, 66%, 49%);
}

button.fill {
  position: absolute;
  width: 100%;
}
