button {
  border: none;
  background: none;
  background-color: hsl(180, 66%, 49%);
  font-size: 18px;
  font-weight: 700;
  color: white;
  border-radius: 200px;
  padding: 0.6rem 1rem;
}

// TODO : Update large styles
button.large {
  max-width: 200px;
  width: 100%;
}

button.fat {
  padding: 0.9rem 2.5rem;
}
