<form [formGroup]="urlForm">
  <div class="input">
    <input
      type="text"
      placeholder="Shorten a link here..."
      formControlName="url"
      [ngClass]="{
        'invalid-input': urlForm.get('url')?.touched && !urlForm.valid
      }"
    />
    <label for="url" *ngIf="urlForm.get('url')?.touched && !urlForm.valid">{{
      getErrorMessage()
    }}</label>
  </div>
  <div>
    <app-square-button-text (click)="shortLink()" [fill]="true"
      >Shorten It!</app-square-button-text
    >
  </div>
</form>

<!-- <ul *ngIf="lastestLinks.length > 0">
  <li *ngFor="let link of lastestLinks">
    <app-link-card [linkData]="link"></app-link-card>
  </li>
</ul> -->
