footer {
  background-color: hsl(255, 11%, 22%);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem 0;
  gap: 3rem;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .root-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.3rem;
    a {
      color: rgb(255, 255, 255);
      font-weight: 700;
      font-size: 15px;
    }
    ul {
      gap: 0.5rem;
      a {
        color: #979797;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }

  .social-media {
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
  }
}
